<table class="data">
	<thead>
		<tr>
			<th>Item</th>
			<th>Qty</th>
			<th>Subtotal</th>
		</tr>
	</thead>
	
	<tbody>
		<% @order.line_items.each do |line_item| %>
			<tr>
				<td><%= line_item.variant.product.title %></td>
				<td><input class="short" type="text" caboose-cart="update" data-id="<%= line_item.id %>" name="quantity" value="<%= line_item.quantity %>" /></td>
				<td><%= line_item.variant.price / 100 * 100 %></td>
				<td><a caboose-cart="remove" data-id="<%= line_item.id %>">X</a></td>
			</tr>
		<% end %>
	</tbody>
</table>

<a class="button right" href="/checkout" caboose-cart="redirect" >Checkout</a>	
