<p class="wrapper">Your Cart:</p>

<ul>
  <% _.each(order.line_items, function(lineItem) { %>
    <li data-id="<%= lineItem.id %>">
      <div class="wrapper">
        <aside>
          <figure style="background-image: url(<%= lineItem.variant.images[0].urls.thumb %>)"></figure>
          <p><%= lineItem.title %><br />Qty: <%= lineItem.quantity %></p>
        </aside>
        
        <section>
          <p>$<%= lineItem.price %></p>
        </section>
      </div>
    </li>
  <% }); %>
</ul>

<% if (order.subtotal) { %>
  <p class="wrapper subtotal"><span>Subtotal w/ shipping:</span> <span>$<%= parseFloat(Math.round(order.subtotal * 100) / 100).toFixed(2) %><span></p>
<% } %>

<% if (order.tax && order.tax > 0) { %>
  <p class="wrapper tax"><span>Tax <small>(if in Alabama)</small>:</span> <span>$<%= parseFloat(Math.round(order.tax * 100) / 100).toFixed(2) %></span></p>
<% } %>

<% if (order.total) { %>
  <p class="wrapper total"><span>Total</span> <span>$<%= parseFloat(Math.round(order.total * 100) / 100).toFixed(2) %></span></p>
<% } %>

