<table id="cart">
	<tr>
		<th>Item</th>
		<th>Quantity</th>
		<th>Subtotal</th>
	</tr>
	
	<% @order.line_items.each do |line_item| %>
		<tr>
			<td><%= line_item.variant.product.title %><br /><%= line_item.variant.title %></td>
			<td align="right"><%= line_item.quantity %></td>
			<td align="right"><%= number_to_currency(line_item.subtotal) %></td>
		</tr>
	<% end %>
	
	<tr>
		<td colspan="2" align="right">Subtotal</td>
		<td align="right"><%= number_to_currency(@order.subtotal) %></td>
	</tr>
	
	<% if @order.tax and @order.tax > 0 %>
		<tr>
			<td colspan="2" align="right">Tax</td>
			<td align="right"><%= number_to_currency(@order.tax) %></td>
		</tr>
	<% end %>
	
	<% if @order.shipping and @order.handling %>
		<tr>
		  <td colspan="2" align="right">Shipping &amp; Handling</td>
		  <td align="right"><%= number_to_currency(@order.shipping + @order.handling) %></td>
		</tr>
	<% end %>
	
	<% if @order.discount and @order.discount > 0 %>
		<tr>
		  <td colspan="2" align="right">Discount</td>
		  <td align="right"><%= number_to_currency(@order.discount) %></td>
		</tr>
	<% end %>
	
	<% if @order.total and @order.total > 0 %>
		<tr>
		  <td colspan="2" align="right">Total</td>
		  <td align="right"><%= number_to_currency(@order.total) %></td>
		</tr>
	<% end %>
</table>
