<form id="shipping-rates" action="" method="put">
	<% @shipping_rates.each do |rate| %>
		<div>
			<input id="shipping-method-<%= rate['service_code'] %>" name="shipping_method_code" type="radio" value="<%= rate['service_code'] %>" />
			<input id="shipping-method-<%= rate['service_code'] %>-name" type="hidden" value="<%= rate['service_name'] %>" />
			<input id="shipping-method-<%= rate['service_code'] %>-price" type="hidden" value="<%= rate['negotiated_rate'] %>" />
			
			<label for="shipping-method-<%= rate['service_code'] %>">
				<%= number_to_currency rate['total_price'].to_s.insert(-3, '.') %>
				<%= rate['service_name'] %>
			</label>
		</div>
	<% end %>
	
	<div id="message"></div>
	<input type="submit" value="Continue >" />
</form>
