<!DOCTYPE>
<html>
  <body>
    <script type="text/javascript">
      parent.relay_handler({
        "success": <%= @success %>,
        "message": "<%= @message %>"
      });
    </script>
    
    <script>
      parent.postMessage({
        "success": <%= @success %>,
        "message": "<%= @message %>"
      }, "<%= CabooseStore::root_url %>");
    </script>
  </body>
</html>

