<!DOCTYPE>
<html>
  <body>
    <script id="response" type="application/json">
      {
        success: <%= @success %>,
        message: '<%= @message %>'
      }
    </script>
    
    <~-<script>
      parent.postMessage({
        success: <%= @success %>,
        message: '<%= @message %>'
      }, '<%= CabooseStore::root_url %>');
    </script>-->
  </body>
</html>

