<%
cat = @category
%>
<h1>Edit Category</h1>

<p><div id='category_<%= cat.id %>_name'                 ></div></p>
<p><div id='category_<%= cat.id %>_slug'                 ></div></p>
<p><div id='category_<%= cat.id %>_square_offset_x'      ></div></p>
<p><div id='category_<%= cat.id %>_square_offset_y'      ></div></p>
<p><div id='category_<%= cat.id %>_square_scale_factor'  ></div></p>
<p><div id='category_<%= cat.id %>_image'                ></div></p>

<h2>Products</h2>
<% if cat.products && cat.products.count > 0 %>
  <ul>
    <% cat.products.each do |p| %>
    <li><a href='/admin/products/<%= p.id %>/general'><%= p.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>This category has no products.</p>
<% end %>

<div id='message'></div>
<p>
<input type='button' value='< Back' onclick="window.location='/admin/categories';" />
<input type='button' value='Delete Category' onclick="delete_category(<%= cat.id %>);" />
</p>


<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

$(document).ready(function() {
  m = new ModelBinder({
    name: 'Category',
    id: <%= cat.id %>,
    update_url: '/admin/categories/<%= cat.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'name'                 , nice_name: 'Name'         , type: 'text'  , value: <%= raw Caboose.json(cat.name                ) %>, width: 400 },
      { name: 'slug'                 , nice_name: 'Slug'         , type: 'text'  , value: <%= raw Caboose.json(cat.slug                ) %>, width: 400 },      
      { name: 'square_offset_x'      , nice_name: 'Offset X'     , type: 'text'  , value: <%= raw Caboose.json(cat.square_offset_x     ) %>, width: 200 },
      { name: 'square_offset_y'      , nice_name: 'Offset Y'     , type: 'text'  , value: <%= raw Caboose.json(cat.square_offset_y     ) %>, width: 200 },
      { name: 'square_scale_factor'  , nice_name: 'Scale Factor' , type: 'text'  , value: <%= raw Caboose.json(cat.square_scale_factor ) %>, width: 200 },
      { name: 'image'                , nice_name: 'Image'        , type: 'image' , value: <%= raw Caboose.json(cat.image.url(:medium)  ) %>, width: 200 }
    ]
  });
});

function delete_category(cat_id, confirm)
{
  if (!confirm)
  {
    var p = $('<p/>').addClass('note error').css('margin-bottom', '10px')
      .append("Are you sure you want to delete the category?<br />This can't be undone.<br /><br />")
      .append($('<input/>').attr('type', 'button').val('Yes').click(function() { delete_category(cat_id, true); })).append(' ')
      .append($('<input/>').attr('type', 'button').val('No').click(function() { $('#message').empty(); modal.autosize(); }));      
    modal.autosize(p, 'message');
    return;
  }
  modal.autosize("<p class='loading'>Deleting the category...</p>");
  $.ajax({
    url: '/admin/categories/' + cat_id,
    type: 'delete',
    success: function(resp) {
      if (resp.error)
        modal.autosize("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect)
        window.location = resp.redirect      
    }
  });
}

</script>
<% end %>
