
<h1>Your order has been udpated</h1>
<p>Order number: <%= @order.id %></p>
<p>Date Received: <%= @order.date_authorized.strftime('%F %T') %></p>
<p>Status: <%= @order.status %></p>

<table style='border-collapse: collapse;' border='1' cellpadding="4" cellspacing="0">
<tr>
  <th>Item</th>
  <th>Tracking Number</th>  
  <th>Quantity</th>
  <th>Subtotal</th>
</tr>
<% total = 0.0 %>
<% @order.line_items.each do |li| %>
  <% total = total + li.subtotal %>
  <tr>
    <td><%= li.variant.product.title %><br /><%= li.variant.title %></td>
    <td><%= li.tracking_number %></td>
    <td align='right'><%= li.quantity %></td>
    <td align='right'><%= number_to_currency(li.subtotal) %></td>
  </tr>
<% end %>
<%
total = @order.subtotal + @order.shipping + @order.handling
%>
<tr>
  <td colspan='3' align='right'>Subtotal</td>
  <td align='right'><%= number_to_currency(@order.subtotal) %></td>
</tr>
<tr>
  <td colspan='3' align='right'><%= @order.shipping_method %> Shipping</td>
  <td align='right'><%= number_to_currency(@order.shipping + @order.handling) %></td>
</tr>
<tr>
  <td colspan='3' align='right'>Total</td>
  <td align='right'><%= number_to_currency(total) %></td>
</tr>
</table>

<p>You will continue to receive email as the status of your order changes.</p>
<p>Thanks again,</p>

<p><strong>The TuskWear Team</strong><br />
<a href='mailto:info@tuskwearcollection.com'>info@tuskwearcollection.com</a><br />
205-561-1433<br />
2002 44th Street East<br />
Tuscaloosa, AL 35405</p>
<p align='center'><img src='https://dmwwflw4i3miv.cloudfront.net/logo.png' /></p>
