
<h1>New Order Received</h1>
<p><a href='https://tuskwearadmin.herokuapp.com/admin?return_url=/admin/orders/<%= @order.id %>'>View Order</a></p>
<p>Order number: <%= @order.id %></p>
<p>Date Received: <%= @order.date_authorized.strftime('%F %T') %></p>
<p>Status: <%= @order.status %></p>

<table style='border-collapse: collapse;' border='1' cellpadding="4" cellspacing="0">
<tr>
  <th>Item</th>
  <th>Quantity</th>
  <th>Subtotal</th>
</tr>
<% total = 0.0 %>
<% @order.line_items.each do |li| %>
  <% total = total + li.subtotal %>
  <tr>
    <td><%= li.variant.product.title %><br /><%= li.variant.title %></td>
    <td align='right'><%= li.quantity %></td>
    <td align='right'><%= number_to_currency(li.subtotal) %></td>
  </tr>
<% end %>
<tr>
  <td colspan='2' align='right'>Subtotal</td>
  <td align='right'><%= number_to_currency(@order.subtotal) %></td>
</tr>
<tr>
  <td colspan='2' align='right'>Tax</td>
  <td align='right'><%= number_to_currency(@order.tax) %></td>
</tr>
<tr>
  <td colspan='2' align='right'><%= @order.shipping_method %> Shipping &amp; Handling</td>
  <td align='right'><%= number_to_currency(@order.shipping + @order.handling) %></td>
</tr>
<tr>
  <td colspan='2' align='right'>Total</td>
  <td align='right'><%= number_to_currency(@order.total) %></td>
</tr>
</table>

<p><strong>Contact us at:</strong><br />
<a href='mailto:<%= CabooseStore::contact_email %>'><%= CabooseStore::contact_email %></a></p>
