<h1>Products that have Variants with no or prices below $1</h1>

<p style="margin: 0 0 6px"><a href="/admin/products">All Products</a></p>

<br />
<form method="get" action="/admin/products/add-upcs">
	<select name="vendor_id">
		<% CabooseStore::Vendor.all.each do |vendor| %>
			<option value="<%= vendor.id %>"><%= vendor.name %></option>
		<% end %>
	</select>
	
	<input type="submit" value="Filter">
</form><br />

<% if @products.count > 0 %>
	<table class='data' id='properties_table'>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Vendor</th>
		</tr>
		
		<% @products.each do |product| %>
			<tr onclick="window.location='/admin/products/<%= product.id %>/general';">
				<td><%= raw product.id %></td>
				<td><%= raw product.title %></td>
				<td><%= raw product.vendor.nil? ? 'Unknown' : product.vendor.name %></td>
			</tr>
		<% end %>
	</table>
<% else %>
  <p>There are no products right now.</p>
<% end %>
