
<% if (order.line_items && order.line_items.length > 0) { %>
  <table class="data">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
  
    <tbody>
      <% _.each(order.line_items, function(lineItem) { %>
        <tr>
          <td><%= lineItem.title %></td>
          <td><input class="short" type="text" caboose-cart="update" data-id="<%= lineItem.id %>" name="quantity" value="<%= lineItem.quantity %>" /></td>
          <td class="price"><%= parseInt(lineItem.price).toFixed(Math.max(2, (lineItem.price.toString().split('.')[1] || []).length)) %></td>
          <td><a caboose-cart="remove" data-id="<%= lineItem.id %>">X</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  <a class="button right" style="margin: 12px 0; display: inline-block; float: right" href="/checkout" caboose-cart="redirect" >Checkout</a>
<% } else { %>
  <p>Your cart is empty <a caboose-cart="close">Continue shopping</a></p>
<% } %>

