<% if (items.length > 0) { %>
	<table class="data">
		<thead>
			<tr>
				<th>Item</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			</tr>
		</thead>
	
		<tbody>
			<% _.each(items, function(item) { %>
				<tr>
					<td><%= item.title %></td>
					<td><input class="short" type="text" caboose-cart="update" data-id="<%= item.id %>" name="quantity" value="<%= item.quantity %>" /></td>
					<td><%= item.variant.price %></td>
					<td><a caboose-cart="remove" data-id="<%= item.id %>">X</a></td>
				</tr>
			<% }); %>
		</tbody>
	</table>
	
	<a class="button right" href="/checkout" caboose-cart="redirect" >Checkout</a>
<% } else { %>
	<p>Your cart is empty <a caboose-cart="close">Continue shopping</a></p>
<% } %>
